.cidade
  display flex
  flex-flow row wrap
  justify-content center
  .quarteirao, .rua-casa
    flex 0 0 auto
    .link
      transform rotate(90deg)
      margin-right
    .rua, .local
      display block
    .ico
      height 60px
      width 60px