body{
  font-family: 'Open Sans', sans-serif;
}

table {
  display: flex;
  border-collapse: collapse;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

td, th {
  text-align: left;
  border: 1px solid #dddddd;
  height: 30px;
  width: 90px;
  font-size: 14px;
}

.street-home{
  display: flex;
  flex-flow: row wrap;
}

.street-home .home{
  flex: 1 1 auto;
  text-align: center;
}

.street-home .street{
  flex: 1 1 auto;
  max-width: 84px;
}
